div.logincontainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20vh;

}

.auth__box-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
}


.auth__title {
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    
}

.auth__input {
    color: $black;
    border: 0px;
    border-bottom: 3px solid $grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    transition: border-bottom .3s ease;
    
    &:focus {
        border-bottom: 1px solid $white;
        outline: none;
    }
}


.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 0px 7px 10px;
    

    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: white;
    }
    
}


.btn-primary {
    background-color: $primary;
    border-radius: 8px;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover { 
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}


